*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand-gradient: linear-gradient(90deg, #fc4a1a 0%, #f7b733 100%);

  --brand-primary: #f7b733;
  --brand-secondary: #fc4a1a;

  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;

  --text-color-primary: #f4f4f5;
  --text-color-secondary: #a1a1aa;

  /* typography
  ff: font-family 
  fw: font-weight
  fs: font-size 
  px: padding no eixo x (horizontal) 
  py: padding no eixo y (vertical) */

  --ff-inter: "Inter", system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-2xl: 4rem;
  --fs-xl: 2.4rem;
  --fs-lg: 2rem;
  --fs-base: 1.6rem;
  --fs-sm: 1.4rem;

  --px-lg: 2.4rem;
  --py-base: 1.6rem;
  --py-lg: 2.4rem;
  --py-xl: 4.8rem;
}

html,
body {
  color: var(--text-color-primary);
  font: var(--fw-base) var(--fs-base) / 160% var(--ff-inter);

  /* font-family: var(--ff-inter);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: 160%; */
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
  line-height: 120%;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    background: linear-gradient(
      90deg,
      var(--brand-secondary) 0%,
      var(--brand-primary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

ul[role="list"] {
  list-style-type: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

@media (width >= 1280px) {
  :root {
    --fs-2xl: 6.4rem;
    --fs-xl: 4.8rem;
    --fs-lg: 3.2rem;

    --px-lg: 3.2rem;
    --py-base: 2.4rem;
    --py-lg: 4rem;
    --py-xl: 8rem;
  }
}
