.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1.6rem;
}

.desktop-only {
  display: none;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-48 {
  gap: 4.8rem;
}

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

@media (width >= 1280px) {
  .container {
    --max-width: 1280px;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .desktop-only {
    display: initial;
  }
}
